/* responsive background image */
body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("../images/SouthPole_bg.jpg");
overvlow-x: hidden;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer gradiant */
#grad1 {
            height: 50px;
            background-color: #cccccc;
            background-image: radial-gradient(Blue, purple);
        }


/* Contact Page Form */
.form-control{

}
 
/* Can I make the form labels bold?  */
.form-group label{
    font:bold;
}

/* Profile Page Gallery */
.gallery_image {
    height: 350px;
    width: 350px;
}

/* About Page Card */
.container {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}