p {
  font-size: 24px;
}

/* responsive background image */
body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("../images/SouthPole_bg.jpg");
overflow-x: hidden;
  /* Full height */
  height: 100%; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer gradiant */
#grad1 {
            height: 50px;
            background-color: #cccccc;
            background-image: radial-gradient(Blue, purple);
        }


