nav {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font: Calibri; 
}

.gallery_image {
    height: 350px;
    width: 350px;
}

.card {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}